@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam na mojej stronie!</h1>
    <p>
        Nie jest ona rozbudowana ale w planach jest wiele funkcjonalności, które ułatwią Tobie i twoim najbliższym rezerwacje hali sportowej.
    </p>
    <p>Dane do logowania
        <br>
       Nazwa="admin@admin.com", Hasło= "admiN2!"
       <br />
       Nazwa="test@o2.com", Hasło= "tT!123"
   </p>
</div>
