@model HalaSystem.Models.Rezerwacja

@{
    ViewData["Title"] = "Create";
}

<h1>Utwórz nową rezerwacje</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="UserId" value="@User.GetId()" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HalaId" class="control-label"></label>
                <select asp-for="HalaId" class ="form-control" asp-items="ViewBag.HalaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Od" class="control-label"></label>
                <input asp-for="Od" class="form-control" />
                <span asp-validation-for="Od" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Do" class="control-label"></label>
                <input asp-for="Do" class="form-control" />
                <span asp-validation-for="Do" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-warning">
        <i class="bi bi-backspace"></i> Wróć do listy
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
